<footer class="footer">
    <div class="container">
        <div class="row justify-content-center bg-dark text-light p-3 pt-5">
            <div class="col-auto">
                © Copyright 2020 AleCorp
            </div>
        </div>
    </div>
</footer>