<footer>
    <div class="container-fluid m-0 p-3 bg-dark text-light">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                Copyright alejoCorp
            </div>
        </div>
    </div>
</footer>