<%- include('../templates/head');-%>

<body class="bg-dark text-light">
    <%-  include('../templates/header');-%>
    <div class="container-fluid m-0 bg-dark text-light">
        <div class="row justify-content-center">
            <div class="col-12 justify-content-center d-flex">
                <h1 class="jumbotron bg-dark align-center">Envia tu correo</h1>
            </div>
            <form method="POST" action="/" class="col-md-6 col-sm-12 p-3">
                <div class="form-group">
                    <label for="para">Para</label>
                    <input name="para" id="para" type="email" class="form-control" aria-describedby="emailHelp"
                        placeholder="A quien le enviara el email?">
                    <small id="emailHelp" class="form-text text-muted">El email sera privado.</small>
                </div>
                <div class="form-group">
                    <label for="asunto"></label>
                    <input name="asunto" id="asunto" type="text" class="form-control" aria-describedby="asuntoHelp"
                        placeholder="Asunto de su correo">
                    <small id="asuntoHelp" class="form-text text-muted">Asunto para su correo</small>
                </div>
                <div class="form-group">
                    <label for="msg">Mensaje</label>
                    <textarea name="msg" id="msg" cols="5" rows="5" class="form-control" aria-describedby="msgHelp"
                        placeholder="Escriba su mensaje aqui."></textarea>
                    <small id="msgHelp" class="form-text text-muted">Escriba su mensaje aqui.</small>
                </div>
                <div class="row p-3">
                    <button type="submit" class="btn btn-primary text-light">Enviar Correo</button>
                </div>
            </form>
        </div>
    </div> 
        <%-  include('../templates/footer');-%> 
</body>

</html>