<html>
    <%- include('head')-%>
    <body>
        <%- include('header')-%>
        <div class="container-fluid bg-dark text-light">
            <div class="row">
                <div class="col-12 text-center">
                    Correo enviado con exito
                </div>
            </div>
        </div>
        
        <%- include('footer')-%>
    </body>
</html>